<app-home-header></app-home-header>
<main>
  <article>
    <section>
      <app-pagination (onPaginationChange)="setPaginationLimit($event)"></app-pagination>
    </section>
    <section class="beer-layout">
      <app-beer-item *ngFor="let beer of beerData" [routerLink]="'beer/'+this.beer.id"
                     [name]="this.beer.name"
                     [image]="this.beer.image_url"
                     [tagline]="this.beer.tagline"
                     [description]="this.beer.description"></app-beer-item>
    </section>
    <section class="button-more">
      <button (click)="onViewMore()">VIEW MORE</button>
    </section>
  </article>
</main>
