article {
  padding: 22px 12px 42px 12px;
}

.button-more {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-more button {
  cursor: pointer;
  background: orangered;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.45), 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 0.25s;
}

.button-more button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75), 6px 6px 6px 1px rgba(0, 0, 0, 0.15);
}

.beer-layout {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 16px;
}

@media (min-width: 600px) {
  .beer-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 850px) {
  .beer-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1124px) {
  .beer-layout {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
