/* You can add global styles to this file, and also import other style files */
body {
  background: rgba(24, 71, 20, 0.05);
  margin: 0;
  font-family: Helvetica;
}

main {
  max-width: 2000px;
  margin: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
